

<!-- CREATE OR SAVE BOARD AND SAVE PIN FORM -->

<div class="w3-card-4 w3-center vertical-center" style="width: 75%; margin: auto; margin-top: 125px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
      <h2>Where would you like to save this pin?</h1>
        <%= flash[:errors] %>

        <%= form_for(@pin, url: car_pins_path) do |f| %>
            <%= f.label :board, "Board", class: "w3-left"%>
            <%= f.collection_select :board_id, current_user.boards.all, :id, :title, {},  {class: "w3-input w3-border"} %><br>
            <%= f.label :new_board, "New Board", class: "w3-left"%>
            <%= f.fields_for :board, Board.new do |board_attributes| %>
                <%= board_attributes.text_field :title, class: "w3-input w3-border" %>
            <% end %><br>
            <%= f.label :note, "Optional Note", class: "w3-left"%>
            <%= f.text_field :note, class: "w3-input w3-border" %><br>
            <%= f.submit class: "w3-input w3-border w3-green" %>
        <% end %>
        
    </div>
</div>