<%= link_to "Car Builds All", project_cars_path %>
<%= link_to "Profile", user_path(current_user) %>
<h1><%= @project_car.year %> <%= @project_car.make %> <%= @project_car.model %></h1>
<p>Engine: <%= @project_car.engine %></p>
<p>Drivetrain: <%= @project_car.drivetrain %></p>
<p>Suspension: <%= @project_car.suspension %></p>
<p>Wheels And Tires: <%= @project_car.wheels_and_tires %></p>

<p><%= "#{@project_car.admirers.count} Like" if @project_car.admirers %></p>

<%= form_tag new_user_board_path(current_user), method: 'get' do%> 
    <%= hidden_field_tag :id, @project_car.id %>
    <%= submit_tag "Save This Ride"%>
<% end %>

