
<!-- Title-->
<div class="w3-container">
<br>
    <div class="w3-section w3-bottombar w3-padding-16">
        <div class="w3-center w3-margin-top">
            <h1 class="w3-jumbo w3-margin-top"><%= garage_title(@user) %></h1>
        </div>
    </div>
</div>

<!-- GARAGE -->
 <% @user.owned_cars.each do |c| %>
    <div class="w3-card-4 vertical-center" style="width: 75%; margin: auto; margin-top: 75px; background: white; padding: 10px;">
        <div class="w3-container">
        <h1 class="w3-center"><%= c.year %> <%= c.make %> <%= c.model %></h1>
        <%= image_tag c.images.first, style: "width:100%" if c.images.attached? %>
            <div class="mods-ctn">
                <p class="w3-xlarge"><b>Engine:</b> <%= c.engine %></p>
                <p class="w3-xlarge"><b>Drivetrain:</b> <%= c.drivetrain %></p>
                <p class="w3-xlarge"><b>Suspension:</b><%= c.suspension_and_brakes %></p>
                <p class="w3-xlarge"><b>Wheels And Tires:</b><%= c.wheels_and_tires %></p>
                <div class='mods-btn'>
                    <%= edit_or_save(c) %>
                </div>
            </div>
        </div>
    </div>
<% end %>



  

