<h1><%= @board.title %></h1>
<%= flash[:errors] %>
<%= form_for @board do |f| %>
    <%= f.label :title, "Change Title:"%>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>

<p>Board Owner: <%= @board.user.username %> </p>
<p>Projects: <% @board.pins.each do |p| %> </p>
    <%= p.car.year_make_model %> - <%= link_to "Edit Pin", edit_pin_path(p)%><br>
    <%= p.note %>
<% end %>

<%= link_to "Delete Board", delete_board_path(@board), method: 'delete' %>
