
<!-- FILTER AND SEARCH BAR -->
<div class="w3-container">
    <div class="w3-section w3-bottombar w3-padding-16">
        <div class="w3-center w3-margin-top">
            <h1 class="w3-jumbo w3-margin-top">User's Rides</h1>
        </div>
        <span class="w3-margin-right">Filter:</span> 
        <button class="w3-button w3-black">ALL</button>
        <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
        <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
        <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
        <%= form_tag(cars_path, method: :get, class: "w3-padding-large  w3-hide-small w3-right", placeholder: "Search?", style: "text-align: right;") do %>
            <%= text_field_tag(:search, params[:search], class: "search-query")%>
            <%= button_tag type: 'submit' do %>
            <i class="fa fa-search"></i>
            <% end %>
        <% end %>
    </div>
</div>







<!-- CAR CARDS -->
<div class="w3-row-padding">
    <% @cars.each do |c| %>

    
    <div class="w3-third w3-container w3-margin-bottom">
     <%= image_tag c.images.first, style: "width: 100%" if c.images.attached? %>
      <div class="w3-container w3-white">
        <p><b><%= link_to "#{c.owner.username}", user_path(c.owner)%> - <%= link_to "#{c.year} #{c.make} #{c.model}", car_path(c)%></b></p>
      </div>
    </div>
       
    <% end %>
</div>