<div class="w3-container w3-center">
  <h1 class="w3-jumbo">All The Builds</h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%"><br>
</div>

<%= link_to "Share Your Build", new_car_path %>

<h3>Search</h3> 
<%= form_tag(cars_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag "Search" %>
<% end %>

<!-- CAR CARDS -->
<div class="w3-row-padding">
    <% @cars.each do |c| %>

    
    <div class="w3-third w3-container w3-margin-bottom">
     <%= image_tag c.images.first, class: "w3-hover-opacity", style: "width: 100%" if c.images.attached? %>
      <div class="w3-container w3-white">
        <p><b><%= link_to "#{c.owner.username}", user_path(c.owner)%> - <%= link_to "#{c.year} #{c.make} #{c.model}", car_path(c)%></b></p>
      </div>
    </div>
       
    <% end %>
</div>