
<!-- TITLE -->
<div class="w3-container">
  <div class="w3-section w3-bottombar w3-center">
    <h1 class="w3-jumbo w3-center" style='display: inline-block; text-align: center;'>The Builds</h1><br>

        <!-- FILTER -->
        <%# <span class="w3-margin-right">Filter:</span>  %>
        <%# <button class="w3-button w3-black">ALL</button> %>
        <%# <%= link_to "ALL", cars_path, method: :post,  class: "w3-button w3-black" %> 
        <%# <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button> %>
        <%# <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button> %>
        <%# <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button> %>

        <!-- SEARCH BAR -->
        <div style='display: inline;'>
          <%= form_tag(cars_path, method: :get, class: "w3-padding-large  w3-hide-small w3-right", placeholder: "Search?", style: "text-align: right;") do %>
              <%= text_field_tag(:search, params[:search], class: "search-query")%>
              <%= button_tag type: 'submit' do %>
              <i class="fa fa-search"></i>
              <% end %>
          <% end %>
        </div>
        
        <br><br><br>
    </div>
</div><br><br>








<!-- CARS INDEX -->
<div class="w3-row-padding">
  <% @cars.each do |c| %>  
    <div class="w3-col l4 w3-margin-bottom">
      <div class="w3-card-4">
        <div class="w3-container">
          <h3 class="w3-center"><%= link_to "#{c.owner.first_name}", user_path(c.owner)%>'s <%= link_to "#{c.year} #{c.make} #{c.model}", car_path(c)%></h3>
          <div class='img-ctn'>
            <%= image_tag c.images.first, style: "width: 100%", class: "idx-img" if c.images.attached? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>