<%= link_to "Car Builds All", cars_path %>
<%= link_to "Profile", user_path(current_user) %>
<h1><%= @car.year %> <%= @car.make %> <%= @car.model %></h1>
<%= image_tag @car.images.first if @car.images.attached? %>
<p>Engine: <%= @car.engine %></p>
<p>Drivetrain: <%= @car.drivetrain %></p>
<p>Suspension: <%= @car.suspension %></p>
<p>Wheels And Tires: <%= @car.wheels_and_tires %></p>

<% if current_user == @car.owner %>
    <%= link_to "Edit Your Build", edit_car_path(@car) %> - 
    
<% else %>
    <%= link_to "Save This Ride", new_car_pin_path(@car) %>
<% end %>

