<div class="w3-card-4 w3-center vertical-center" style="width: 75%; margin: auto; margin-top: 125px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
       <h1><%= @car.year %> <%= @car.make %> <%= @car.model %></h1>
<%= image_tag @car.images.first, style: "width:100%" if @car.images.attached? %>
<p>Engine: <%= @car.engine %></p>
<p>Drivetrain: <%= @car.drivetrain %></p>
<p>Suspension: <%= @car.suspension %></p>
<p>Wheels And Tires: <%= @car.wheels_and_tires %></p>

<% if current_user == @car.owner %>
    <%= link_to "Edit Your Build", edit_car_path(@car) %> - 
    
<% else %>
    <%= link_to "Save This Ride", new_car_pin_path(@car) %>
<% end %>
        
    </div>
</div>

