<!DOCTYPE html>
<html>
  <head>
    <title>ProjectBuild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <style>
      body,h1 {font-family: "Roboto", sans-serif}
      body, html {height: 100%}
      .bgimg {
        background-image: url('https://i.pinimg.com/originals/76/2e/68/762e68eca0c41974162487aeb05b113a.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
        }
        input.search-query {
          border: none;
          border-bottom: 1px solid gray;
          }
        </style>

  <body>
  <!-- Navbar -->
<% if current_user %>
  <div class="w3-bar w3-white">
      <%= link_to "HOME", cars_path, class: "w3-bar-item w3-large w3-button w3-padding-large"%>
      <%= link_to "MY CARS", user_cars_path(current_user), class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left" %>
      <%= link_to "MY BOARDS", user_boards_path(current_user), class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left"%>
      <%= link_to "NEW BUILD", new_car_path, class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left" %>
      <div class="w3-dropdown-hover w3-hide-small w3-right w3-margin-right">
        <button class="w3-button "><%=display_avatar(current_user)%></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <%= link_to "Settings", edit_user_path(current_user), class: "w3-bar-item w3-button" %>
          <%= link_to "Log Out", logout_path, method: :post, class: "w3-bar-item w3-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


    <%= yield %>

    <!-- Footer -->
<footer class="w3-container  w3-padding-32 w3-center w3-opacity w3-light-grey w3-xlarge" style="margin-top: 35px">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Made by URIAH HARSTON</a></p>
</footer>
  </body>
</html>
