<!DOCTYPE html>
<html>
  <head>
    <title>Street Builds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/assets/street-builds-icon-monochrome.png">    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <style>
     
        </style>

  <body>
  <!-- Navbar -->
<% if current_user %>
  <div class="w3-bar w3-white">
      <%= link_to "HOME", cars_path, class: "w3-bar-item w3-large w3-button w3-padding-large"%>
      <%= link_to "MY CARS", user_path(current_user), class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left" %>
      <%= link_to "MY BOARDS", user_boards_path(current_user), class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left"%>
      <%= link_to "NEW BUILD", new_car_path, class: "w3-bar-item w3-button w3-large w3-padding-large w3-hide-small w3-left" %>
      <div class="w3-dropdown-hover w3-hide-small w3-right w3-margin-right">
        <button class="w3-button "><%=display_avatar(current_user)%></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
          <%= omniauth_user?(current_user) %>
          <%= link_to "Log Out", logout_path, method: :post, class: "w3-bar-item w3-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>




    <%= yield %>

    <%# <!-- Footer -->
<footer class="w3-container  w3-padding-32 w3-center w3-opacity w3-light-grey w3-xlarge" style="margin-top: 35px">
  <i class="fa fa-youtube w3-hover-opacity"><a href="https://github.com/uharston/ProjectBuild"></i>
  <i class="fa fa-github w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Made by URIAH HARSTON</a></p>
</footer> %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="/assets/animation.js"></script>
<script>
  let tl = gsap.timeline();
  // tl.from(".bgimg", {duration: 0.2, opacity: 0, scale: 0.3, })
  tl.from(".logo-letter", {duration: 1.5, opacity: 0, scale: 0.3,  stagger: 0.2}); 
  tl.from(".btn", {duration: 0.2, opacity: 0, y: 150, stagger: 0.3})
</script>

<script>
  let x = window.matchMedia("(max-width: 993px")
  function toggleImageCtn(x) {
    console.log('inside toggle')
    if (x.matches) {
      let imageDivs = document.getElementsByClassName('idx-ctn')
      for( div of imageDivs) {
        div.classList.remove('img-ctn')
      }
    } else {
      let imageDivs = document.getElementsByClassName('idx-ctn')
      for( div of imageDivs) {
        div.classList.add('img-ctn')
      }
    }
  }

  toggleImageCtn(x)
  x.addListener(toggleImageCtn)

</script>
  </body>
</html>
