<!DOCTYPE html>
<html>
  <head>
    <title>ProjectBuild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Log Out", logout_path, method: :post %>
  <%= link_to "Upload A Build", new_project_car_path %>
    <%= yield %>
  </body>
</html>
